<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223577861571-9gm1rsh91ud15algc7cber1rnql03ljh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223577861571-9gm1rsh91ud15algc7cber1rnql03ljh</string>
	<key>API_KEY</key>
	<string>AIzaSyCWInuk5vsh6VL31rqD4ahqWGawGwVvPaM</string>
	<key>GCM_SENDER_ID</key>
	<string>223577861571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myPhotoBucket</string>
	<key>PROJECT_ID</key>
	<string>myphotobdart</string>
	<key>STORAGE_BUCKET</key>
	<string>myphotobdart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223577861571:ios:411b33a29187575eda2176</string>
</dict>
</plist>